* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

.Main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: 24px auto;
}

.Main .TextHeader {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 24px;
}
.Main .Mision .Logo img {width: 100%;}
.Main .Vision .Logo img {width: 100%;}

.Main .Mision {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.Main .Mision .Logo {
	width: 120px;
	height: auto;
	display: block;
	margin: 12px;
}

.Main .Mision .Text {
	width: 100%;

	display: flex;
	flex-direction: column;
}

.Main .Mision .Text .Title {
	font-size: 26px;
	color: #090A0C;
	margin-bottom: 6px;
	display: inline-block;
}

.Main .Mision .Text .Pagraph {
	text-align: justify;
}

.Main .Vision {
	display: flex;
	flex-direction: row;
	align-items: center;

	margin-top: 24px;
	margin-bottom: 24px;
}

.Main .Vision .Logo {
	width: 120px;
	height: auto;
	display: block;
	margin: 12px;
}

.Main .Vision .Text {
	width: 100%;

	display: flex;
	flex-direction: column;
}

.Main .Vision .Text .Title {
	font-size: 26px;
	color: #090A0C;
	margin-bottom: 6px;
	display: inline-block;
}

.Main .Vision .Text .Pagraph {
	text-align: justify;
}