* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

.Main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: 24px auto;
}

.Main .EventContainer {
	width: 100%;
	margin: auto;
}

.Main .EventContainer .InfoContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 20px auto;

	text-decoration: none;
	color: #090A0C;
}

.Main .EventContainer .InfoContainer .Container {
	display: flex;
	flex-direction: row;
	align-items: center;

	text-decoration: none;
	color: #090A0C;
}

.Main .EventContainer .InfoContainer .Container .ImgContainer img {width: 182px; height: auto;}
.Main .EventContainer .InfoContainer .Container .ImgContainer {
	width: 182px; height: auto;
	margin: auto;
	margin-left: 24px;
}

.Main .EventContainer .InfoContainer .Container .TextContainer {
	display: inline-block;
	margin: auto 24px;
}

.Main .EventContainer .InfoContainer .Container .TextContainer .Title {
	font-size: 20px;
	font-weight: bold;
}

.Main .EventContainer .InfoContainer .Container .TextContainer .InfoText {
	font-size: 16px;
	display: flex;
	flex-direction: column;
}